 

      <div class="row">
        <div class="large-12 columns">
          <%= image_tag "banner.jpg" %>
        </div>
      </div>

      <div class="row">
        <hr>
        <div class="large-8 columns">
          <h4>About</h4>
          <p>I'm a web developer in Seattle, WA with a focus on Ruby on Rails.</p>
          <i class="fi-social-twitter"></i>
        </div>
        <div class="large-4 columns">
          <%= image_tag "profilepic.jpg" %>
        </div>
      </div>

      <div class="row">
        <hr>
        <div class="large-12 columns">
          <h4>Work</h4>
          <p>Click on each image!</p>

          <ul class="clearing-thumbs small-block-grid-1 medium-block-grid-2 large-block-grid-4" data-clearing>
            <li>
              <a href="http://placehold.it/800x500&text=[img]">
              <img data-caption="caption here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li>
            <li>
              <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 2 here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li>
            <li>
              <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 3 here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li>
            <li>
              <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 4 here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li>
            <li>
              <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 5 here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li>       
            <li>
              <a href="http://placehold.it/800x500&text=[img]"><img data-caption="caption 6 here..." src="http://placehold.it/800x500&text=[img]"></a>
            </li> 
          </ul>
        </div>
      </div>

      <div class="row">
        <div class="large-12 columns">
          <hr>
          <h4>Contact Me</h4>
          <div class="large-4 columns">
            Email: <a class="__cf_email__" href="/cdn-cgi/l/email-protection" data-cfemail="84e9e1c4e9fdf4ebf6f0e2ebe8edebaae7ebe9">[email protected]</a><script data-cfhash='f9e31' type="text/javascript">
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("data-cfhash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}t.parentNode.removeChild(t);}}catch(u){}}()/* ]]> */</script>
          </div>
          <div class="large-4 columns">
            Twitter: @vnmnd
          </div>
          <div class="large-4 columns">
            Phone: (509) 899-4357
          </div>
        </div>
      </div>

      
